@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

input:focus,
select:focus {
    outline-color: #6b757d;
}

.header h1 {
    display: inline-block;
    margin-top: 20px;
    border-top: 1px solid #1c4e5c;
    border-bottom: 1px solid #1c4e5c;
    padding: 10px;
    font-weight: 600;
    text-align: center;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6b757d;
    width: 350px;
    margin-top: 40px;
    border-radius: 8px;
    row-gap: 10px;
    padding: 30px 0;
}

.container-form .title-clp {
    font-weight: 400;
    font-size: 1.3rem;
}

.input-monto-clp {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-monto-clp input {
    border: none;
    width: 100%;
    padding: 10px 10px;
    margin-right: 35px;
    border-radius: 5px;
    text-align: center;
}

.icono-input {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.container-selects {
    position: relative;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.label-mensaje {
    font-size: 0.8rem;
    font-weight: 500;
}

#moneda {
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
}

.container-selects select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container-selects .flecha {
    position: absolute;
    color: #222;
    right: 10px;
    top: 50%;
    pointer-events: none;
}

.convertir-moneda {
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-convertir {
    width: 100%;
    background-color: #11caf0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-convertir:hover {
    background-color: #0a9bb1;
}

#resultado {
    text-align: center;
    font-size: .9rem;
    font-weight: 500;
}

.warning {
    color: yellow;
}

.container-grafico {
    width: 60%;
    margin-top: 40px;
}

#grafico {
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    background-color: transparent;
    margin-bottom: 40px;
}